<html>
    <head>
        <div class="container">
            <label><b>Percentile</b></label>
            <input type="text" placeholder="50" value="50" name="percentile" id="percentile">

            <button id="update" type="update">Update</button>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <!--String format implementation-->
        <script>
            String.prototype.format = function() {
                var formatted = this;
                for (var i = 0; i < arguments.length; i++) {
                    var regexp = new RegExp('\\{'+i+'\\}', 'gi');
                    formatted = formatted.replace(regexp, arguments[i]);
                }
                return formatted;
            };

            String.prototype.replaceAll = function(search, replacement) {
                var target = this;
                return target.replace(new RegExp(search, 'g'), replacement);
            };
        </script>
        <script type="text/javascript" src="chart.js"></script>
    </head>
    <body>
        <div id="ISP pageload time in ms" style="width: 1500px; height: 500px"></div>
        <font id="page_group_title" size="4"><b></b></font>
        <div id="Page group info of the last 30 minutes"></div>
    </body>
</html>

